body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

.image-container {
    border: 2px solid #333;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Ensures no content leaks outside bordered area */
}

#toneImage {
    display: block; /* Remove extra space below image */
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto; /* Center the image horizontally */
    height: auto;
    cursor: crosshair;
}
